.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 20px 200px 20px 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 5px solid green;
  background: #0a1a2a;
  color: skyblue;
  -webkit-animation-name: desplazarse;
          animation-name: desplazarse;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes desplazarse {
  from {
    position: relative;
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes desplazarse {
  from {
    position: relative;
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.flex-container .descarga {
  -webkit-animation-name: desplazarse;
          animation-name: desplazarse;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.flex-container .formulario {
  padding: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid seashell;
  margin: 5px;
  text-align: center;
}

.flex-container .articulos {
  padding: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid seashell;
  margin: 5px;
  text-align: center;
}

.flex-container .contenido {
  padding: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 2px solid seashell;
  margin: 5px;
  text-align: center;
}

.flex-container .textos {
  text-decoration: underline;
}

.flex-container .boton {
  margin: 5px;
  border-radius: 5px;
  border: solid;
  color: #0a1a2a;
  -webkit-box-shadow: 2px 4px 10px 5px;
          box-shadow: 2px 4px 10px 5px;
}

.flex-container .boton:hover {
  color: #9b0f16;
}

.pie-de-pagina {
  width: 100%;
  background-color: #0a141d;
  background-size: 20%;
  position: relative;
  left: 0px;
  bottom: -500px;
  height: 100%;
  bottom: 0px;
}

.pie-de-pagina .grupo-1 {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-top: 20px;
  background-color: #0a141d;
}

.pie-de-pagina .box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-de-pagina .box figure img {
  width: 150px;
}

.pie-de-pagina .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-de-pagina .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-de-pagina .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pie-de-pagina .red-social a:hover {
  color: aqua;
}

.pie-de-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-de-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-widht: 800px) {
  .pie-de-pagina .pie-de-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgba(211, 97, 56, 0.267);
}

.navbar {
  background-color: blue;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  padding: 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

.navbar ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: pink;
  position: absolute;
  left: 0;
  bottom: -12px;
  -webkit-transition: 0, 4s ease-out;
  transition: 0, 4s ease-out;
}

.navbar ul li:hover::before {
  width: 100%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto 200px;
      grid-template-rows: auto auto 200px;
      grid-template-areas: "header" "main" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 100%;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.pie-de-pagina {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.publicidad h1 {
  text-align: center;
  font-size: x-large;
}

.publicidad {
  width: 100%;
  background-image: url(../imgenes/imagen-compra.jpg);
  opacity: 10;
  height: 500px;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(211, 97, 56, 0.267);
}

.contenedor .tarjeta {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border: solid 3px #f5a207;
}

.contenedor .tarjeta:hover {
  -webkit-transform: 330px;
          transform: 330px;
  -webkit-box-shadow: 0 12px 16px black;
          box-shadow: 0 12px 16px black;
  background: #796b59;
  cursor: pointer;
}

.contenedor .tarjeta img {
  width: 330px;
  height: 220px;
}

.contenedor .tarjeta h3 {
  font-weight: 600;
}

.contenedor .tarjeta p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.contenedor .tarjeta a {
  font-weight: 500;
  text-decoration: none;
  color: #9b0f16;
}

h1 {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  display: block;
  text-align: center;
  border: solid black;
  padding: 5px;
  bottom: 15em;
  background-color: #af4c28;
}

.oferta {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  display: block;
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  border: solid black;
  padding: 5px;
  background-color: #df8767;
}

.contenedor {
  width: 100%;
  float: right;
  max-width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pie-de-pagina {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.button {
  margin: 5px;
  border-radius: 5px;
  border: solid;
  color: black;
}

.button:hover {
  background-color: blue;
}

.row-tarjet {
  width: 40%;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px;
          box-shadow: 5px 5px 15px 5px;
  color: #000000;
  padding: 15px;
  border: solid 3px blue;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.row-tarjet:hover {
  background: #796b59;
}

@media (max-widht: 400px) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto 200px;
        grid-template-rows: auto auto 200px;
        grid-template-areas: "header" "header" "main" "main"  "footer"  "footer";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pie-de-pagina {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* .texto {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    color: #efefef;
} */
/*# sourceMappingURL=style.css.map */