.flex-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 0px 20px 0px;
  flex-wrap: wrap;
  border: 5px solid green;
  background: #0a1a2a;
  color: skyblue;
  animation-name: desplazarse;
  animation-duration: 5s; }

@keyframes desplazarse {
  from {
    position: relative;
    left: 100%; }
  to {
    left: 0%; } }
  .flex-container .descarga {
    animation-name: desplazarse;
    animation-duration: 3s; }
  .flex-container .formulario {
    padding: 20px;
    align-self: center;
    border: 2px solid seashell;
    margin: 5px;
    text-align: center; }
  .flex-container .articulos {
    padding: 20px;
    align-self: center;
    border: 2px solid seashell;
    margin: 5px;
    text-align: center; }
  .flex-container .contenido {
    padding: 20px;
    align-self: center;
    border: 2px solid seashell;
    margin: 5px;
    text-align: center; }
  .flex-container .textos {
    text-decoration: underline; }
  .flex-container .boton {
    margin: 5px;
    border-radius: 5px;
    border: solid;
    color: #0a1a2a;
    box-shadow: 2px 4px 10px 5px; }
    .flex-container .boton:hover {
      color: #9b0f16; }

.pie-de-pagina {
  width: 100%;
  background-color: #0a141d;
  background-size: 20%;
  position: relative;
  left: 0px;
  bottom: -500px;
  height: 100%;
  bottom: 0px; }
  .pie-de-pagina .grupo-1 {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-top: 20px;
    background-color: #0a141d; }
  .pie-de-pagina .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .pie-de-pagina .box figure img {
    width: 150px; }
  .pie-de-pagina .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px; }
  .pie-de-pagina .box p {
    color: #efefef;
    margin-bottom: 10px; }
  .pie-de-pagina .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease; }
    .pie-de-pagina .red-social a:hover {
      color: aqua; }
  .pie-de-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
  .pie-de-pagina .grupo-2 small {
    font-size: 15px; }
  @media screen and (max-widht: 800px) {
    .pie-de-pagina .pie-de-pagina .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px; } }

.button, .button-primario {
  margin: 5px;
  border-radius: 5px;
  border: solid black; }
  .button:hover, .button-primario:hover {
    background-color: blue; }

.button-primario {
  background-color: red;
  color: yellow;
  width: auto;
  height: auto; }

.navbar {
  background-color: blue;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  box-shadow: 5px 5px 5px 5px rgb(24, 23, 23); }
  .navbar .ul {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding: 15px; }
    .navbar .ul:before {
      content: "";
      height: 3px;
      width: 0%;
      background: pink;
      position: absolute;
      left: 0;
      bottom: -12px;
      transition: 0, 4s ease-out; }
      .navbar .ul:hover::before {
        width: 100%; }
  .navbar .li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding: 15px; }
  .navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;   }

.publicidad h1 {
  text-align: center;
  font-size: x-large; }

.publicidad {
  width: 100%;
  background-image: url(../imgenes/imagen-compra.jpg);
  opacity: 10;
  height: 500px;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .publicidad .h1 {
    text-align: center;
    font-size: x-large; }

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(211, 97, 56, 0.267); }
  .contenedor .tarjeta {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition-property: all;
    transition-duration: 1s;
    border: solid 3px #f5a207; }
    .contenedor .tarjeta:hover {
      transform: 330px;
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
      background: #796b59;
      cursor: pointer; }
    .contenedor .tarjeta img {
      width: 330px;
      height: 220px; }
    .contenedor .tarjeta h3 {
      font-weight: 600; }
    .contenedor .tarjeta p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    .contenedor .tarjeta a {
      font-weight: 500;
      text-decoration: none;
      color: #9b0f16; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: rgba(211, 97, 56, 0.267); }

.logo {
  width: 100px;
  cursor: pointer; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 200px;
  grid-template-areas: "header"
 "main"
 "footer"; }

.header {
  grid-area: header;
  width: 100%; }

.main {
  grid-area: main; }

.pie-de-pagina {
  grid-area: footer; }

.main {
  grid-area: main; }

@media (max-widht: 400px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 200px;
    grid-template-areas: "header" "header"
 "main" "main" 
 "footer"  "footer";
    display: flex;
    flex-direction: column; }
  .contenedor {
    flex-direction: column; }
  .navbar {
    flex-direction: column; } }

.pie-de-pagina {
  flex-direction: column; }

h1 {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  display: block;
  text-align: center;
  border: solid black;
  padding: 5px;
  bottom: 15em;
  background-color: #af4c28; }

.oferta {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  display: block;
  text-align: center;
  box-sizing: content-box;
  width: 100%;
  border: solid black;
  padding: 5px;
  background-color: #df8767; }

.nosotros {
  box-shadow: 10px 10px 10px 10px rgba(128, 56, 211, 0.267); }

.descarga {
  box-shadow: 10px 10px 10px 10px rgba(128, 56, 211, 0.267); }
.row-tarjet{
    width: 40%;
    margin: 20px;
    box-shadow: 5px 5px 15px 5px;
    color: #000000;
    padding: 15px;
    border: solid 3px blue;
    transition-property: all;
    transition-duration: 1s;
}
.row-tarjet:hover{
  background: rgb(121, 107, 89);
}
.container{
  background-color: rgba(211, 97, 56, 0.267);
}
.navbar-toggler{
  color: #9b0f16;
}
.navbar-toggler-icon{
  color: #9b0f16;
}
.navbar-light .navbar-toggler .navbar-toggler-icon{
  color: #9b0f16;
}